<h1> My Orders </h1> 

<!-- need to get this guy to display only order for current user -->

<table class = "table table-striped">
  <thead>
    <tr> 
      <th>Date</th>
      <th>Amount</th>
      <th>Comments</th>
      <th>Status</th> 
      <th colspan="5"></th> 
    </tr>
  </thead>  
  <tbody> 
    <% @orders.each do |order| %>
      <tr> 
        <td><%= (order.date.present? ? order.date.strftime("%B %d") : order.created_at.strftime("%B %d")) %></td>
        <td><%= price_conversion(order.total_prics) %></td>
        <td><%= order.comments %></td>
        <td><%= status(order.status) %></td>
        <td>
      </tr>
    <% end %>
  </tbody>
</table> 